
.container {
    display: block;
    
}

.form-body {
    padding-top: 5rem;
}

.update-button {
    text-align: center;
}



.profileform{
    width: 100%;
    text-align: center;
}

.row {
    display: flex;
    justify-content:space-around;
    margin-top: 1rem;
}

.row > div {
    margin: 0rem 1rem;
    width: 45%;
    padding: 0;
}
mat-form-field {
    width: 100%;
}

app-footer {
    position: absolute;
    width: 100%;
    bottom:0;
    
}

button {
    margin: auto 1rem;
}

.errorMessage {
    color: red;
}

main {
    margin-bottom: 2rem;
}

@media only screen and (min-width: 1024px) {
    .container{
        display: flex;
    }
  }