body{
    height:100%;
    background-color:lightblue;
}
div{
    display:flex;
    flex-direction:row;
    margin:auto;
    
}
mat-form-field{
    display:flex;
    flex-direction:column;
    height:10.5vh;
    
}
.registercard{
    max-width:30%;
    padding:5px;
    margin:auto;
    display:flex;
    flex-direction:column;
    justify-content: center; 
    padding-top:5vh;
}


button{
    margin:auto;
}