

<app-header></app-header>


<app-dashboard></app-dashboard>

<app-footer></app-footer>



<!--  

<section  class="bg-warning">
  <h1> Welcome to Angular Session </h1>

Date is {{ displayDate() }}

  <div *ngIf="count>=10">
   <h3 [style.color]="color"> Popular Web Page... More hits counted : {{count}} </h3>
  </div>
<div *ngIf="count<10">
 <h4 [style.color]="color"> User count is {{count}} </h4>
</div>

<h3> Users Visited this sites are </h3>

<ul *ngFor="let username of usernames">
<li> {{username}} </li>
</ul>



<div [ngClass]=" flag ? 'isRequired' : 'isOptional' ">

 This site is built using Angular

</div>

<button [disabled]="isValid">Click Here </button>
<div></div>
<span [innerHTML]="data"></span>
<div></div>
<button (click)="showDetails()"> View Details</button>
<div></div>

<input #uname placeholder="enter your name">

<button (click)="validate(uname.value)">Sign In</button>

</section>

-->