<!-- <div class="container">
  <h1 class="alert alert-primary text-center mt-3">Registration</h1>
</div>
<div class="container">
  <form #registration="ngForm" (ngSubmit)="addUser(registration, $event)">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="user.name" #name="ngModel" required>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" name="email" [(ngModel)]="user.email" #email="ngModel" aria-describedby="emailHelp" required>
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="username" [(ngModel)]="user.username" #username="ngModel" required>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password" [(ngModel)]="user.password" #password="ngModel" minlength="8" required>
    </div>
      <button type="submit" class="btn btn-primary" [disabled]="registration.invalid">Submit</button>
    </form>
</div> -->
<div class="container">
  <h1 class="mat-display-1 text-center mt-3">Registration</h1>
</div>
<div>
  <form #registration="ngForm" (ngSubmit)="addUser(registration, $event)">
    <div class="clsform">
      <mat-form-field class="mb-1 form-width">
        <mat-label>Name</mat-label>
        <input matInput class="w-100" type="text" id="name" name="name" [(ngModel)]="user.name" #name="ngModel" required>
        <mat-error *ngIf="name.invalid">Name is required</mat-error>
      </mat-form-field>
    </div>
    <div class="clsform">
      <mat-form-field class="mb-1 form-width">
        <mat-label>Email address</mat-label>
        <input matInput class="w-100" type="email" id="exampleInputEmail1" name="email" [(ngModel)]="user.email" #email="ngModel" required>
        <mat-error *ngIf="email.invalid">Email is required</mat-error>
      </mat-form-field>
    </div>
    <div class="clsform">
      <mat-form-field class="mb-1 form-width">
        <mat-label>Username</mat-label>
        <input matInput class="w-100" type="text" id="username" name="username" [(ngModel)]="user.username" #username="ngModel" required>
        <mat-error *ngIf="username.invalid">Username is required</mat-error>
      </mat-form-field>
    </div>
    <div class="clsform">
      <mat-form-field class="mb-1 form-width">
        <mat-label>Password</mat-label>
        <input matInput class="w-100" type="password" id="exampleInputPassword1" name="password" [(ngModel)]="user.password" #password="ngModel" minlength="8" required>
        <mat-error *ngIf="password.invalid">Password must be at least 8 characters long</mat-error>
      </mat-form-field>
    </div>
    <div class="clsform">
      <button mat-raised-button type="submit" color="primary" [disabled]="registration.invalid">Submit</button>
    </div>
  </form>
</div>
