<div class="container">
  <app-sidebar></app-sidebar>
  <div class="middle">
    <div>
      <mat-card class="mat-blue-grey">
        <mat-card-header style="justify-content: center">
          <mat-card-title
            ><i class="fa-sharp fa-solid fa-money-bill"></i> All your Payments
          </mat-card-title>
        </mat-card-header>
        <div class="top">
          <mat-form-field class="search__wrapper">
            <input
              matInput
              type="search"
              placeholder="Search"
              aria-label="Search"
              aria-describedby="search-addon"
              [(ngModel)]="searchtext"
              id="st"
            />
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </mat-card>
    </div>
    <div style="width: 100%; overflow-x: auto">
      <table
        mat-table
        [dataSource]="payments | search : searchtext"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="bookingId">
          <th mat-header-cell *matHeaderCellDef>Booking #</th>
          <td mat-cell *matCellDef="let payment">{{ payment.receiptId }}</td>
        </ng-container>
        <ng-container matColumnDef="payeeId">
          <th mat-header-cell *matHeaderCellDef>Provider ID</th>
          <td mat-cell *matCellDef="let payment">{{ payment.payeeId }}</td>
        </ng-container>
        <ng-container matColumnDef="serviceType">
          <th mat-header-cell *matHeaderCellDef>Service</th>
          <td mat-cell *matCellDef="let payment">{{ payment.serviceType }}</td>
        </ng-container>
        <ng-container matColumnDef="hours">
          <th mat-header-cell *matHeaderCellDef># of hours</th>
          <td mat-cell *matCellDef="let payment">{{ payment.hours }}</td>
        </ng-container>
        <ng-container matColumnDef="pricePerHour">
          <th mat-header-cell *matHeaderCellDef>$ per hour</th>
          <td mat-cell *matCellDef="let payment">
            {{
              payment.pricePerHour
                | currency : "CAD" : "symbol-narrow" : "1.2-2"
            }}
          </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Payment Status</th>
          <td mat-cell *matCellDef="let payment">
            {{ payment.status | paymentStatus }}
          </td>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let payment">
              <!--Pending status possible action-->
              <button
                *ngIf="payment.status === 0"
                mat-raised-button
                (click)="completePayment(payment.receiptId)"
              >
                Pay
              </button>
            </td>
          </ng-container>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: tableColumns"></tr>
      </table>
    </div>
  </div>
</div>
