<div class="p-2 p-lg-5 text-center parallax">
  <div class="hero-banner__overlay">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h2 class="hero-banner__title mb-3">Welcome to Compassionet</h2>
        <p class="lead">Let us take care of you</p>
        <p class="mb-4 register-now">New Patient? Register Now!</p>
        <a
          class="btn btn-outline-light btn-lg"
          routerLink="/patientregister"
          role="button"
          click="patRegister()"
        >
          Register
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <section class="col-12 col-lg-6 p-5">
      <h3 class="who-we-are__title">Who We Are</h3>
      <p class="who-we-are__para">
        Compassionet is a user-friendly web application designed to connect
        patients with qualified and reliable service providers in the healthcare
        industry. Whether you're looking for a doctor, nurse, or caretaker,
        Compassionet makes it easy to find the right professional for your
        needs.
      </p>
    </section>
    <section class="col-12 col-lg-6 who-we-are"></section>
  </div>
  <hr />
  <div class="row">
    <section class="col-12 col-lg-6 how-we-help"></section>
    <section class="col-12 col-lg-6 p-5">
      <h3 class="how-we-help__title">How We Help</h3>
      <p class="how-we-help__para">
        With Compassionet, patients can search for service providers based on
        their specialty, location, availability, and ratings from other
        patients. Once you find a provider you like, you can easily book an
        appointment, review their credentials, and communicate with them
        directly through the platform.
      </p>
    </section>
  </div>
  <hr />
  <div class="row">
    <section class="col-12 col-lg-6 p-5">
      <h3 class="what-makes__title">What Makes Us Different</h3>
      <p class="what-makes__para">
        Compassionet also provides patients with access to a variety of tools
        and resources to help manage their healthcare needs. This includes a
        personal health record, medication tracking, and reminders for upcoming
        appointments or prescriptions.
      </p>
    </section>
    <section class="col-12 col-lg-6 what-makes"></section>
  </div>
  <hr />
  <div class="row">
    <section class="col-12 col-lg-6 for-providers"></section>
    <section class="col-12 col-lg-6 p-5">
      <h3 class="for-providers__title">For Service Providers</h3>
      <p class="for-providers__para">
        Compassionet offers a simple and effective way to reach new patients and
        grow their practice. Providers can create a profile, showcase their
        expertise and experience, and manage their appointments and patient
        communications all in one place.
      </p>
    </section>
  </div>
</div>
