<section>
    <h4> Employee Form </h4>


    Today date is {{ today | date:'medium' | uppercase}}
     
    <!-- <input [(ngModel)]="name" placeholder="enter name"> -->
  
    <div class="clsdiv">
   <input #empid id="empid" placeholder="enter the employeeid">
   <input #empname id="empname" placeholder="enter employee name">

   <button (click)="register(empid.value,empname.value)">Register</button>
    </div>

  
<div class="clscard" *ngIf="employees?.length">
    
    <div class="card" style="width: 10rem;" *ngFor="let employee of employees">
     
        <div class="card-body">
          <h5 class="card-title">Employee Id : {{employee.empId}} </h5>
          <p class="card-text"> {{employee.empName  | uppercase }} </p>
          <button class="btn btn-primary" (click)="deleteEmp(employee.empId)">Delete</button>
        <button (click)="changeIt(employee)">{{employee.isRetired==true ? 'Old Employee' : 'Current employee'}}</button>
        </div>
      </div>




</div>

<!-- <table>

<tr *ngFor="let employee of employees">
  </tr>


</table> -->







</section>



<!-- {{name}} 
<button (click)="display()">Click here</button> -->
