<div class="container-fluid bg-light py-3">
  <h3 class="text-center">Welcome to my Bee Movie company</h3>
  <ul>
    <li>You like jazz? We do too! That's why we started a company based on the most buzz-worthy movie of all time</li>
    <li>We're not just any old company, we're the bees-knees!</li>
    <li>Our team is a hive of activity - just like the bees in the Bee Movie</li>
    <li>We're dedicated to pollinating your life with the sweetest products and services around</li>
    <li>Why did we start a company based on the Bee Movie? Because we believe in the power of beelief!</li>
  </ul>
</div>
