mat-card {
  background-color: lightslategrey;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  align-items: center;
}

.btn-emerg {
  display: block;
  width: 100%;
}

.middle {
  width: 100%;
  text-align: center;
}

.page__title {
  font-size: clamp(1.5rem, 2vw, 3rem);
}

.divider {
  width: 100%;
  max-width: 860px;
  margin: 0 auto;
  border-top-color: var(--color-secondary);
}

.calendar__title {
  font-size: clamp(1.25rem, 1.5vw, 2rem);
  font-weight: 500;
  margin: 2rem 0 1.5rem;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 1024px) {
  .calendar__wrapper {
    max-width: 768px;
    max-height: 480px;
    margin: 3rem auto 2rem;
  }

  .cards {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  mat-card {
    width: calc(50% - 2rem);
    max-width: 20rem;
  }

  .container {
    flex-direction: row;
    align-items: start;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }

  .btn-emerg {
    display: inline;
    width: fit-content;
  }

  .page__title {
    margin-bottom: 2rem !important;
  }
}
