div{
    display:flex;
    flex-direction:row;
    margin:auto;
}
mat-form-field{
    display:flex;
    flex-direction:column;
    
}
.mat-mdc-text-field-wrapper {
    height:5px !important;
 }
mat-form-field{
    
    height:10.5vh;
 }

.registercard{
    max-width:30%;
    min-width:300px;
    padding:5px;
    margin:auto;
    display:flex;
    flex-direction:column;
    justify-content: center; 
    padding-top:5vh;    
}
input{
    font-size:5px;
}
mat-error{
    font-size:10px;
}
mat-card-content{
    width:auto;
}
.mat-mdc-text-field-wrapper {
    height:3vh !important;
}

button{
    margin:auto;
}
body{
    background-color:lightblue;
    height:100%;
}